@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --blue-1: #add7f6;
  --blue-2: #87bfff;
  --blue-3: #3f8efc;
  --blue-4: #2667ff;
  --blue-5: #3b28cc;
}

.App {
  text-align: center;
  background-color: var(--blue-1);
}

.App-footer {
  font-size: 0.75rem;
}

.App-header {
  min-height: 20vh;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-title {
  height: 20vmin;
  font-family: 'Bebas Neue', sans-serif;
}

.App-board {
  background: white;
  min-height: 30vh;
  width: 90%;
  border: 5px solid black;
}